.details {
  flex: 1;
}

.detail {
  position: sticky;
  top: 0;

  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 6px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.close-button {
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
