name: Cypress tests

on: [push]

jobs:
  start:
    if: false

    runs-on: ubuntu-latest
    # container:
    #   image: cypress/included:10.2.0
    #   options: --ipc=host
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cypress tests
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: 'http://localhost:3000'

        # Test run screenshots if the run fails
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

        # Test run video was always captured
      - uses: actions/upload-artifact@v6
        with:
          name: cypress-videos
          path: cypress/videos
